<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /prueba-apache/
    # If an existing asset or directory is requested go to it as it is
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.html [L]
</IfModule>
